* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  background: url("https://lh3.googleusercontent.com/proxy/pR2KaePOkd3efB4IvTXGekEUAUOD_ogxPTI-HQhRi5-Xlm8YYuSVQUdqly-1eF-vyxEt1M8m87jpyUC4EoP1jWq_QrQ6dX7hWYbl7D5RAN0mhWuKyqkrQYJWxCT83Q");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

body{
  overflow-y: hidden;
  margin-top: 0;
}

nav {
  width: 90%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo {
  flex-basis: 20%;
}

.logo img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}
.nav-links ul li a {
  color: aliceblue;
  text-decoration: none;
}

.information {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  /*makes it vertically center */
  transform: translateY(-50%);
}
#circle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  /*makes it vertically center */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 1s;
}
.feature img {
  width: 70px;
}
.feature {
  position: absolute;
  display: flex;
  color: white;
}
.feature div {
  margin-left: 30px;
}
.feature div p {
  margin-top: 8px;
}
.one {
  top: 450px;
  right: 150px;
}
.two {
  top: 150px;
  left: 350px;
  transform: rotate(-90deg);
}
.three {
  bottom: 450px;
  left: 50px;
  transform: rotate(-180deg);
}
.four {
  bottom: 150px;
  right: 350px;
  transform: rotate(-270deg);
}
.mobile {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  z-index: 1;
}
.controls {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center;
}

.controls h3 {
  margin: 15px 0;
  color: white;
}
#upBtn {
  width: 15px;
  cursor: pointer;
}
#downBtn {
  width: 15px;
  cursor: pointer;
  transform: rotate(180deg);
}
.overlay{
    width : 0;
    height : 0;
    border-top : 500px solid #fff;
    border-right : 500px solid transparent;
    border-bottom : 500px solid #fff;
    border-left : 500px solid #fff;
} 

footer{
  position: fixed;
  left: 0;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
border: 1px solid #000000;
}